<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is the email template</h1>
    <hr />
    <p>
      You have been enrolled as an inventory manager. Please visit
      {{site_login}} to activate your account. You will be required to change
      your one time password. Meanwhile your login credentials are as follows:
      username: either {{email}} or {{username}} and your OTP is {{OTP}}
    </p>
  </body>
</html>
